
.content h1 {
	text-shadow: 2px 2px 2px #CCCCCC;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.0em;
	text-align: center;
}

.content h2, h3, h4, h5, h6 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 1.0em;
}

.content h1 {font-size: 2.2em;}
.content h2 {font-size: 1.8em;}
.content h3 {font-size: 1.6em;}
.content h4 {font-size: 1.4em;}
.content h5 {font-size: 1.3em;}
.content h6 {font-size: 1.2em;}

.content img {
	display: block;

	max-height: 300px;
	max-width: 400px;

	margin-left: auto;
	margin-right: auto;
	text-align: center;

	border: 1px solid #202020;
}

.content article {
	margin-bottom: 1.5em;
	padding-left: 2em;
	padding-right: 2em;
}

.post-separator {
	font-size: 3em;
	letter-spacing: 0.2em;

	text-align: center;

	color: rgba(0, 0, 0, 0.3);

	font-family: monospace;

	line-height: 1.6em;

	vertical-align: middle;

	text-shadow:
		0px 0px 15px #353535;

	/*border-radius: 1em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow:
		2px 0px 3px rgba(0, 0, 0, 0.15),
		0px 2px 3px rgba(0, 0, 0, 0.15);*/

	margin-left: auto;
	margin-right: auto;
}

.content article p {
	text-align: justify;
	font-size: 1em;
}

.content article table {
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

.content article table tr:nth-child(even) {
	background-color: rgba(220, 220, 220, 0.30);
}

.content article table td {
	padding: 0.4em;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.content article table th {
	padding: 0.4em;
}

.content article blockquote {
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
}

.content article ul {
	list-style-position: inside;
	margin-left: 2em;
}

.content article ol {
	list-style-position: inside;
	margin-left: 2em;
}

.content div.highlight pre {
	background-color: #404040;
}

.content > article {
	font-family: Cantarell, OpenSans, FreeSans, LiberationSans, sans-serif;
}


.content > article code {
	color: #E04025;
	background-color: rgba(240, 240, 240, 0.5);
	border-radius: 6px;
}

/* Post Meta Data Styling */

.content article .post-title {
	/*text-decoration: underline;*/
	font-size: 2.6em;
	margin-bottom: 1.5em;
}

.content article p.post-author {
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #707070;
}

.content article p.post-date {
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #707070;
}

.content article p.post-meta-data {
	font-style: italic;
	text-align: center;
	color: #707070;
}
