<footer class="footer">
	<p>Created by: <span class="footer-author">Zelphir Kaltstahl</span></p>
	<p>Contact information:
		<a href="mailto:zelphirkaltstahl+markdownblog@gmail.spam" class="email-address">moc.liamg@golbnwodkram+lhatstlakrihplez</a>
	</p>
</footer>